python-telegram-bot==20.7
groq
SpeechRecognition
pydub
requests
Pillow
gTTS
aiohttp
pytesseract
python-telegram-bot==20.3
groq
requests
pillow
gtts
edge-tts
wikipedia
feedparser
psutil
numpy
matplotlib
fpdf
yt-dlp
instaloader
tweepy
spotipy
lyricsgenius
praw
wolframalpha
forex-python
currencyconverter
pycountry
geocoder
phonenumbers
validators
beautifulsoup4
schedule
pytube
moviepy
imageio
imageio-ffmpeg
art
pyfiglet
termcolor
cowsay
pyjokes
pypng
qrcode-terminal
reportlab
pytesseract
